<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div flFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>
  <div fxFlex *ngIf="dishes">
    <div fxFlex *ngIf="dishes"  >
      <mat-grid-list cols="3" rowHeight="250px">
        <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]"
          >
          <img  matBadge="8" matBadgePosition="before"
          matBadgeColor="accent" width="250px"height="270px" src="{{ BaseURL + dish.image }}" alt={{dish.name}}>

          <mat-grid-tile-footer>
            <h1  > {{dish.name |  uppercase }}</h1>
          </mat-grid-tile-footer>

        </mat-grid-tile>
      </mat-grid-list>
    </div>



    </div>



</div>
